<h1>Transition Setup</h1>

<br>

To begin transitioning your department, please fill out <a href="https://docs.google.com/a/digital.cabinet-office.gov.uk/spreadsheet/viewform?formkey=dHk0dXRYdFVxZHBVdkRMQ1R4bGdHTWc6MQ#gid=0">this transition questionnaire form</a>.

<br>

<h2>Other links that might be interesting</h2>
<%= link_to 'New Organisation', new_organisation_path %>
<%= link_to 'New Host', new_host_path %>
<%= link_to 'New Site', new_site_path %>
