<div id="dashboard">
   <ul class="organisations">
    <% @orgs.each do |organisation| %>
    <li>
      <%= render partial: 'organisation', locals: { organisation: organisation } %>
    </li>
    <% end %>
  </ul>
</div>
