<div class="dashboard">
  <h2>Forthcoming</h2>
  <ul>
    <% @forthcoming_organisations.each do |organisation| %>
    <li>
      <%= render partial: 'organisation', locals: { organisation: organisation } %>
    </li>
    <% end %>
  </ul>

  <h2>Live</h2>
  <ul>
    <% @already_live_organisations.each do |organisation| %>
    <li>
      <%= render partial: 'organisation', locals: { organisation: organisation } %>
    </li>
    <% end %>
  </ul>
</div>