<div id="dashboard">
  <ul class="organisations">
    <% @orgs.each do |organisation| %>
    <li>
      <h3 id="<%= organisation.abbr %>">
        <%= link_to content_tag(:span, organisation.abbr), organisation %>
      </h3>
      <%= render 'organisation', organisation: OrganisationData.new(organisation) %>
    </li>
    <% end %>
  </ul>
</div>
