
$transition-brand: $mellow-red;

$gone-colour: $orange;
$gone-background-colour: $orange-25;

$error-colour: $red;
$error-background-colour: $red-25;

$redirect-colour: $grey-2;
$ok-colour: $grey-2;
