$cancel-color: #b10e1e;
$cancel-shadow: #6a0812;
$cancel-light: #f4c1ba;
$cancel-dark: #990c1a;
$finished-color: #0fa660;
$finished-shadow: #096037;
$finished-light: #b8f4cc;
$finished-dark: #0d8f52;
$unsure-color: #2b8cc4;
$unsure-shadow: #1d5f85;
$unsure-dark: #267daf;

@mixin destiny-button($border-radius: 0.25em) {
  color: white;
  border: 0;
  width: 7em;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  line-height: 1.25;
  width: 100%;
  font-weight: bold;
}