$archive-color: #b10e1e;
$archive-shadow: #6a0812;
$archive-light: #f4c1ba;
$archive-dark: #990c1a;
$scrape-color: #0fa660;
$scrape-shadow: #096037;
$scrape-light: #b8f4cc;
$scrape-dark: #0d8f52;
$manual-color: #000065;
$manual-shadow: #000000;
$manual-light: #d1c7ee;
$manual-dark: #00003b;
$unsure-color: #2b8cc4;
$unsure-shadow: #1d5f85;
$unsure-dark: #267daf;

@mixin destiny-button($border-radius: 0.25em) {
  color: white;
  border: 0;
  width: 7em;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  line-height: 1.25;
  width: 100%;
  font-weight: bold;
}