body {
  background: $white;
}
#transition-wrapper {
  border-bottom: $gutter-one-third solid $transition-brand;
  padding-bottom: $gutter*2;

  .transition-inner {
    width: $max-site-width + (2*$gutter);
    margin: 0 auto;
  }

  .top-bar {
    border-top: $gutter-one-third solid $transition-brand;
    max-width: $max-site-width;
    margin: 0 $gutter-half;

    @include media(tablet){
      margin: 0 $gutter;
    }
    @include media($min-width: $max-site-width + $gutter*2){
      margin: 0 auto;
    }
  }
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.error {
  background-color: #ffc8c8;
}