<h1><%= link_to @organisation.title, @organisation %></h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Url</th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= link_to url.url, organisation_url_path(@organisation, url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
