<h1><%= link_to @organisation.title, @organisation %></h1>

<nav class="urls worklist">
  <h2>Outstanding URLs</h2>

  <ul>
    <% @urls.each do |url| %>
      <li><%= link_to url.url, organisation_url_path(@organisation, url) %></li>
    <% end %>
  </ul>
</nav>


