<h1><%= link_to @organisation.title, @organisation %></h1>
<table class="table table-bordered table-striped adjacent_urls">
  <thead>
    <tr>
      <th></th>
      <th>Url</th>
    </tr>
  </thead>

  <tbody>
    <% @organisation.adjacent_urls(@url).each_with_index do |url, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= link_to_if url != @url, url.url, organisation_url_path(@organisation, url), title: url.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<iframe src="<%= @url.url %>" class="preview"/>