<div class="controls">
  <ul class="urls pane">
    <% @organisation.adjacent_urls(@url).each do |url| %>
        <li>
          <%= content_tag :td, class: @url == url ? 'selected' : nil do %>
              <%= link_to_if url != @url, url.url, organisation_url_path(@organisation, url), title: url.url %>
          <% end %>
        </li>
    <% end %>
  </ul>

  <%= form_for :url do %>
      <ul class="destinies pane">
        <li><button class="manual">Manual</button></li>
        <li><button class="scrape">Scrape</button></li>
        <li><button class="archive">Archive</button></li>
      </ul>
  <% end %>
</div>

<iframe src="<%= @url.url %>" class="preview"/>
