.filter-block {
  ol {
    @extend %contain-floats;
    border-bottom: 1px solid $border-colour;
    padding-left: $gutter;
  }
  li {
    display: inline;

    a {
      @include core-24;
      font-weight: bold;
      position: relative;
      text-align: center;
      display: block;
      top: 1px;
      background: $grey-3;
      float: left;
      padding: 8px 30px 6px;
      margin: 0 3px;
      text-decoration: none;
      border: 1px solid $white;
    }
    &.active a {
      bottom: -1px;
      padding: 8px 30px 12px;
      border: 1px solid $border-colour;
      background: $white;
      border-bottom-color: $white;
    }
  }
}

