.organisations-list {
  .section-heading {
    @include media(tablet){
      float: left;
      width: 33.33%;
    }
    h2 {
      margin: $gutter $gutter-half;
      @include core-24;
      font-weight: bold;

      strong {
        display: block;
        @include core-80;
        font-weight: bold;
      }
    }
  }
  .org-list {
    @include media(tablet){
      float: left;
      width: 66.66%;
    }
    .organisations {
      margin: $gutter-half;
      list-style: none;
    }

    li.organisation {
      margin: $gutter-two-thirds 0;
      padding-bottom: $gutter-half;
      border-bottom: 1px solid $border-colour;

      .launch-date {
        @include core-19;
        margin: $gutter-one-third 0;

        strong {
          font-weight: bold;
        }
      }
      .actions {
        list-style: none;
        @include copy-19;

        li {
          margin: $gutter-one-third 0;
        }
      }
    }
  }
}

