.selector-block {
  .inner-block {
    @extend %contain-floats;
    padding: 0;
    margin: 0 $gutter;
    border-bottom: 5px solid;
    border-top: 5px solid;
  }

  .date-graph,
  .select-options {
    width: 50%;
    float: left;

    .inner-floated {
      padding-top: $gutter-half;
      padding-bottom: $gutter-half;
    }
  }

  .select-options .inner-floated {
    padding-right: $gutter-half;
  }
  .date-graph .inner-floated {
    padding-left: $gutter-half;
  }

  h2 {
    @include core-27;
    font-weight: bold;
  }
  .date {
    @extend %contain-floats;
    p {
      font-weight: bold;
    }
    ul {
      li {
        display: block;
        float: left;
        padding-right: $gutter;
        line-height: 30px;
      }
    }
    .date-input {
      width: 80px;
      line-height: 25px;
      padding: 0;
      margin: 0;
    }

  }
  .single-input-form {
    clear: both;
    display: block;
    margin: $gutter-one-third 0;

    label {
      width: 100px;
      display: inline-block;
      font-weight: bold;
    }
    select {
      width: 150px;
    }
  }
  .date-graph {
    margin-top: $gutter;

    p {
      font-weight: bold;
    }
  }
}
