table {
  border-collapse: collapse;
  border-spacing: 0px;

  th {
    font-weight: bold;
    border-bottom: 2px solid $border-colour;
  }

  td {
    border-bottom: 1px solid $border-colour;
    padding: 5px 8px 3px;
    max-width: 200px;
  }
}