<% @organisations.each do |title, orgs| %>
  <div class="block organisations-list floated-children">
    <div class="inner-block">

      <div class="section-heading">
        <h2><strong><%= orgs.length %></strong> Organisations are <%= title %></h2>
      </div>

      <div class="org-list">
        <ul class="organisations">
          <% orgs.each do |organisation| %>
            <li class="organisation">
              <%= render partial: 'organisation', locals: { organisation: organisation } %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
<% end %>
