<h1>Organisations</h1>

<hr>

<% @organisations.each do |title, orgs| %>

  <h2><%= orgs.length %> Organisations are <%= title %></h2>

  <table class="table table-bordered">
    <thead>
      <th>Organisation</th>
      <th>Launch date</th>
      <th>Requests</th>
      <th>Organisation Details</th>
    </thead>
    <tbody>
      <% orgs.each do |organisation| %>
        <tr>
          <%= render partial: 'organisation', locals: { organisation: organisation } %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<% content_for :page_title do %>
  Organisations
<% end %>