<% @organisations.each do |title, orgs| %>

  <h2><%= orgs.length %> Organisations are <%= title %></h2>

  <div class="org-list">
    <ul class="organisations">
      <% orgs.each do |organisation| %>
        <li class="organisation">
          <%= render partial: 'organisation', locals: { organisation: organisation } %>
        </li>
      <% end %>
    </ul>
  </div>

  <hr>

<% end %>

<% content_for :page_title do %>
  Organisations
<% end %>