.organisations-show {
  .block {
    padding-top: $gutter;
  }

  h2 {
    @include heading-36;
    font-weight: bold;
  }

  .requests-link {
    margin: $gutter-half 0 $gutter-half;
  }

  dl {
    dt {
      float: left;
      width: 10em;
      clear: both;
    }
    dt, dd {
      @include core-16;
    }
  }
  .org-info {
    @include core-16;
    margin: 0 0 $gutter;
  }

  .site {
    border-top: 3px solid $black;

    h3 {
      @include core-27;
      margin: $gutter-half 0 0;
    }

    table {
      margin: $gutter-half 0 $gutter;
      text-align: left;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0px;

      th {
        font-weight: bold;
        border-bottom: 2px solid $border-colour;
        padding: 5px 8px 3px 0;
      }
      td {
        border-bottom: 1px solid $border-colour;
        padding: 5px 8px 3px 0;
      }
    }
  }
}

