.scrape-results-new, .scrape-results-edit {
  width: 100%;
  padding-top: 1em;

  .top {
    width: 100%;
  }

  .column1, .column2 {
    padding: 1em 0;
  }

  $iframe-width: 70em;
  $column-height: 600px;
  .column1 {
    float: left;
    width: $iframe-width;
    height: 100%;
    iframe {
      width: 100%;
      height: $column-height;
    }
  }

  .column2 {
    overflow: auto;
    height: $column-height;
    float: right;
    width: calc(100% - #{$iframe-width});
    .content {
      padding: 0 10px;
    }
    form {
      margin: 0 0;
      label {
        display: inline;
      }
      input[type=text], textarea {
        width: 100%;
      }
      textarea {
        height: 400px;
      }
      button {
        @include destiny-button;
        display: inline;
        width: auto;
      }
    }
    .urls {
      font-size: 0.85em;
      width: 100%;
      height: 15em;

      overflow: scroll;
      border: 1px solid gray;
      height: 12em;

      li {
        white-space: nowrap;
      }
    }
    p {
      line-height: 1em;
    }
  }
}
