@import 'status_colours';

.urls-index .urls {
  overflow: none;
  margin: 2em;
  background: white !important;
}

#url_form {
  margin: 0;
}

.urls {
  list-style: none;
  margin: 0;
  margin-bottom: 1em;
  background: #EEE;

  li {
    line-height: 1.1em;
    margin: 0.1em 0;
    padding: 0 0.25em;

    a {
      text-decoration:  none;
    }

    &.selected {
      background-color: white !important;
      color: black !important;
      border: 1px solid black;
      padding: 0.25em;
      margin: 0.2em 0;
    }

    &.unfinished {
      background-color: $unfinished-light;
      a { color: black };
    }

    &.finished {
      background-color: $finished-light;
      a { color: black };
    }
  }
}

.inputs-block {
  width: 25%;
  float: left;

  .select {
    width: 100%;
    padding: 0 10px 10px 0;
    .select2 {
      width: 94%;
    }
    a {
      text-decoration: none;
    }
  }

  &.column-3 {
    font-weight: bold;
    div.scrape {
      margin-bottom: 10px;
      label {
        display: inline;
      }
    }
  }

  .redirect-url {
    input {
      width: 200px;
    }
  }

  &.comments {
    textarea {
      height: 8em;
      width: 95%;
    }
  }
}

.controls {
  width: 100%;
  padding-top: 1em;

  .urls {
    font-size: 0.85em;
    width: 100%;
    height: 15em;

    overflow: scroll;
    border: 1px solid gray;
    height: 12em;

    li {
      white-space: nowrap;
    }
  }

  .destinies {
    list-style: none;

    li {
      margin: 0 0 0.6em 1.0em;

      button, a.button {
        width: 100%;

        &.cancel {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.preview {
  margin-top: 10px;
  width: 100%;
  height: 800px;
}
