@import 'frontend/helpers/url';
@import 'status_colours';

.urls-index .urls {
  overflow: none;
  margin: 2em;
  background: white !important;
}

.urls {
  list-style: none;
  margin: 0;
  margin-bottom: 1em;
  background: #EEE;

  li {
    line-height: 1.1em;
    margin: 0.1em 0;
    padding: 0 0.25em;

    &.selected {
      background-color: white !important;
      color: black !important;
      border: 1px solid black;
      padding: 0.25em;
      margin: 0.2em 0;
    }

    &.archive {
      background-color: $archive-light;
      a { color: black };
    }
    &.manual {
      background-color: $manual-light;
      a { color: black };
    }
    &.scrape {
      background-color: $scrape-light;
      a { color: black };
    }
  }
}

.controls {
  width: 100%;
  padding-top: 1em;

  .pane {
    font-size: 0.85em;
    width: 100%;
    float: left;
    height: 15em;
  }

  .urls {
    overflow: scroll;
    border: 1px solid gray;
    height: 12em;

    li {
      white-space: nowrap;
    }
  }

  .destinies {
    list-style: none;
    padding: 0.5em 2.5em 0 2.5em;
    margin-left: auto;
    margin-right: auto;

    li {
      input[type=text] {
        margin-top: 0.5em;
        width: 23em;
      }
    }

    button {
      @include destiny-button;
      font-size: 1.2em;

      &.selected {
        border-left: 12px solid #DDD;
      }

      &.manual {
        background-color: $manual-color;
        &:hover {
          background-color: $manual-dark
        }
        margin-right: 1em;
      }
      &.archive {
        background-color: $archive-color;
        &:hover {
          background-color: $archive-dark
        }
      }
      &.scrape {
        background-color: $scrape-color;
        &:hover {
          background-color: $scrape-dark
        }
      }
    }

  }
}

.preview {
  width: 100%;
  height: 800px;
}
