@import 'frontend/helpers/url';
@import 'status_colours';

.urls-index .urls {
  overflow: none;
  margin: 2em;
  background: white !important;
}

.urls {
  list-style: none;
  margin: 0;
  margin-bottom: 1em;
  background: #EEE;

  li {
    line-height: 1.1em;
    margin: 0.1em 0;
    padding: 0 0.25em;

    &.selected {
      background-color: white !important;
      color: black !important;
      border: 1px solid black;
      padding: 0.25em;
      margin: 0.2em 0;
    }

    &.archive {
      background-color: $archive-light;
      a { color: black };
    }
    &.manual {
      background-color: $manual-light;
      a { color: black };
    }
    &.scrape {
      background-color: $scrape-light;
      a { color: black };
    }
  }
}

.inputs-block {
  width: 25%;
  float: left;
}

.comments {
  textarea {
    height: 120px;
    width: 95%;
  }
}

.controls {
  width: 100%;
  padding-top: 1em;

  .pane {
    font-size: 0.85em;
    width: 100%;
    height: 15em;
  }

  .urls {
    overflow: scroll;
    border: 1px solid gray;
    height: 12em;

    li {
      white-space: nowrap;
    }
  }

  .destinies {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    li {
      padding: 0 0 0.15em 1.0em;
    }

    button {
      @include destiny-button;
      font-size: 1em;
      padding: 0.35em 0.5em 0.15em 0.5em;

      &.selected {
        border-left: 12px solid #DDD;
      }

      &.manual {
        background-color: $manual-color;
        box-shadow: 0 2px 0 $manual-shadow;
        -webkit-box-shadow: 0 2px 0 $manual-shadow;
        &:hover {
          background-color: $manual-dark;
        }
        margin-right: 1em;
      }
      &.archive {
        background-color: $archive-color;
        box-shadow: 0 2px 0 $archive-shadow;
        -webkit-box-shadow: 0 2px 0 $archive-shadow;
        &:hover {
          background-color: $archive-dark;
        }
      }
      &.scrape {
        background-color: $scrape-color;
        box-shadow: 0 2px 0 $scrape-shadow;
        -webkit-box-shadow: 0 2px 0 $scrape-shadow;
        &:hover {
          background-color: $scrape-dark;
        }
      }
      &.unsure {
        background-color: $unsure-color;
        box-shadow: 0 2px 0 $unsure-shadow;
        -webkit-box-shadow: 0 2px 0 $unsure-shadow;
        &:hover {
          background-color: $unsure-dark
        }
      }
    }

  }
}

.preview {
  margin-top: 10px;
  width: 100%;
  height: 800px;
}
