<div class="url-list-block block">
  <div class="inner-block">
    <h1>Harvest 2.0</h1>
    <select class="url-list" multiple>
      <option>http://www.bis.gov.uk/cicregulator</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/forming-community-interest-company</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/forming-community-interest-plc</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/converting-company-to-CIC</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/converting-charity-to-cic</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/converting-industrial-provident-society-to-cic-ews</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/converting-industrial-provident-society-to-cic-ni</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/converting-private-company-to-cic-plc</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/converting-plc-to-cic-plc</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/changing-asset-locked-body</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/altering-clauses</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/altering-object-statement</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/changing-status-cic-to-cic-plc</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/converting-cic-to-charitable-company</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/converting-cic-to-ips-ews</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/converting-cic-to-ips-ni</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/cic-dissolution</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/index/cic-reports-accounts</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/forms-guidance</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/consitution-guidance</option>
      <option>http://www.bis.gov.uk/cicregulator/forms-introduction/consitution-guidance/model-constitutions</option>
    </select>
  </div>
</div>
<div class="review-box block floated-children">
  <div class="inner-block">
    <form>
      <div class="inputs-block">
        <div class="dropdowns inputs-inner-block">
          <select name="type" class="content-type">
            <option data-scrape="false" value="">Content type</option>
            <option data-scrape="false" value="tna">Archive (tna)</option>
            <option data-scrape="false" data-url="true" value="elsewhere">Exists elsewhere: redirect</option>
            <option data-scrape="false" value="mainstream">Mainstream content</option>
            <option data-scrape="false" value="guidance">Guidance document</option>
            <option data-scrape="false" value="new">New content type</option>
            <optgroup label="Announcements">
              <option data-scrape="true" value="announcement_type_fatality-notices">Fatality notices</option>
              <option data-scrape="true" value="announcement_type_government-responses">Government responses</option>
              <option data-scrape="true" value="announcement_type_news-stories">News stories</option>
              <option data-scrape="true" value="announcement_type_press-releases">Press releases</option>
              <option data-scrape="true" value="announcement_type_speeches">Speeches</option>
              <option data-scrape="true" value="announcement_type_statements">Statements</option>
            </optgroup>
            <optgroup label="Publications">
              <option data-scrape="false" value="publication_type_consultations">Consultations</option>
              <option data-scrape="false" value="publication_type_corporate-reports">Corporate reports</option>
              <option data-scrape="false" value="publication_type_correspondence">Correspondence</option>
              <option data-scrape="false" value="publication_type_foi-releases">FOI releases</option>
              <option data-scrape="false" value="publication_type_forms">Forms</option>
              <option data-scrape="false" value="publication_type_guidance">Guidance</option>
              <option data-scrape="false" value="publication_type_impact-assessments">Impact assessments</option>
              <option data-scrape="false" value="publication_type_independent-reports">Independent reports</option>
              <option data-scrape="false" value="publication_type_maps">Maps</option>
              <option data-scrape="false" value="publication_type_policy-papers">Policy papers</option>
              <option data-scrape="false" value="publication_type_promotional-material">Promotional material</option>
              <option data-scrape="false" value="publication_type_research-and-analysis">Research and analysis</option>
              <option data-scrape="false" value="publication_type_statistics">Statistics</option>
              <option data-scrape="false" value="publication_type_transparency-data">Transparency data</option>
            </optgroup>
          </select>
          <div class="group-select">
            <h3>Grouping</h3>
            <div class="options">
              <h4>Guidance</h4>
              <ol>
                <li>Access benefits through green innovation in farming</li>
                <li>Air pollution from farming: preventing and minimising</li>
                <li>Animal by-products: collection, storage and disposal</li>
                <li>Bee health</li>
                <li>Catchment Sensitive Farming</li>
                <li>Controlling disease in farm animals</li>
                <li>Developing farmland: regulations on land use</li>
                <li>Disease control in flowers and shrubs</li>
                <li>Ecosystem services</li>
                <li>Entry Level Stewardship</li>
                <li>Environmental Impact Assessments</li>
                <li>Environmental Stewardship</li>
                <li>Farm Environment Plans</li>
                <li>Farming and conservation</li>
              </ol>
              <h4>Series</h4>
              <ol>
                <li>Road traffic statistics</li>
                <li>Airport noise contours</li>
                <li>Background to local major transport schemes</li>
                <li>Background to rail interoperability</li>
                <li>Background to rail passenger franchises</li>
                <li>Background to the Bus Service Operators Grant (BSOG)</li>
                <li>Background to the Cycling City and Towns programme</li>
                <li>Background to the Green Bus fund</li>
                <li>Background to Transport Direct</li>
                <li>Blue Badge circular</li>
                <li>Criminal records check (CRC) in the transport sector</li>
                <li>Disabled parking badges statistics</li>
                <li>Driving tests and instructors statistics</li>
                <li>Domestic waterborne freight statistics</li>
                <li>Energy and environment statistics</li>
                <li>Transport accessibility statistics</li>
                <li>Road congestion and reliability statistics</li>
                <li>Light rail and tram statistics</li>
              </ol>
              <h4>Other</h4>
              <ol>
                <li>kate to review</li>
                <li>possible mainstream</li>
                <li>2nd eyes needed</li>
                <li>decision pending</li>
                <li>blocked</li>
              </ol>
              <div class="add-new">
                <select>
                  <option>Guidance</option>
                  <option>Series</option>
                  <option>Other</option>
                </select>
                <input>
                <button>save</button>
              </div>
            </div>
          </div>
          <select class="user-need">
            <option>User need</option>
            <option>-----------------------------</option>
          </select>
        </div>
      </div>
      <div class="inputs-block">
        <div class="inputs-inner-block">
          <textarea class="comment" placeholder="Comment..."></textarea>
        </div>
      </div>
      <div class="inputs-block scrape-url">
        <div class="inputs-inner-block">
          <div class="scrape">
            <strong>Scrape:</strong>
            <label><input type="radio" name="scrape"> Yes</label>
            <label><input type="radio" name="scrape"> No</label>
          </div>
          <div class="no-scrape">Content type needs manual processing</div>
          <div class="url"><label>Redirect url:</label><input placeholder="http://"></div>
        </div>
      </div>
      <div class="inputs-block buttons">
        <div class="inputs-inner-block">
          <button class="save">Save as final</button>
          <button class="not-sure">Save for review later</button>
          <button class="cancel">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<iframe src="http://bbc.co.uk"></iframe>
