// BASE STYLESHEET COMPILER

// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "_colours.scss";
@import "_conditionals.scss";
@import "_css3.scss";
@import "_shims.scss";
@import "_typography.scss";

// App-specific styleguide
@import "styleguide/_brand-colours.scss";
@import "styleguide/_destiny-buttons.scss";
@import "styleguide/_dimensions.scss";

// LAYOUTS
// Styles scoped to a layout. Be careful.

@import "layouts/_main.scss";

// RESETS
// Resets to remove browser defaults

@import "resets/_reset.scss";


// HELPERS
// Styles for comment page elements

#transition-wrapper {
  @import "helpers/_dl.scss";
  @import "helpers/_blocks.scss";
  @import "helpers/_filter-block.scss";
  @import "helpers/_hit-graph.scss";
  @import "helpers/_table.scss";
  @import "helpers/_hit-table.scss";
  @import "helpers/_organisation.scss";
  @import "helpers/_organisations-list.scss";
  @import "helpers/_selector-block.scss";
  @import "helpers/_status-chart.scss";
}

// VIEWS
// Styles scoped to each template in /views

#transition-wrapper {
  @import "views/_pages.scss";
  @import "views/_organisations.scss";
  @import "views/_urls.scss";
  @import "views/_mappings.scss";
}

// select2
@import 'select2.css.scss'
