@import "bootstrap/mixins";
@import "status_colours";

.status-filter li.filter-name {
  span {
    display: block;
    padding: 8px 0px;
    margin-right: 2px;
    line-heigh: 20px;
    border: 1px solid transparent;
  }
}

.chart * {
  margin: 0;
  padding: 0;
}

.chart {
  position: relative;
  height: 300px;
  margin-bottom: 1em;
}

.chart ul {
  display: block;
  position: absolute;
  bottom: 0;
  float: left;
}

.chart li {
  list-style: none;
  overflow: hidden;
  text-indent: 9999px;
}

