$error-color: #FFC8C8;
$ok-color: #BDBDBD;
$gone-color: #636363;
$redirect-color: #969696;

.status-chart.progress {
   .bar {
    background-image: none;
   }
   .bar-301 {
    background-color: $redirect-color;
  }
  .bar-200, .bar-206 {
    background-color: $ok-color;
  }
  .bar-404 {
    background-color: $error-color;
  }
  .bar-410 {
    background-color: $gone-color;
  }
  .bar-304 {
    background-color: $ok-color;
  }
  .bar-403 {
    background-color: $error-color;
  }
  .bar-501 {
    background-color: $error-color;
  }
  .bar-400 {
    background-color: $error-color;
  }
  .bar-418 {
    background-color: $error-color;
  }
  .bar-503 {
    background-color: $error-color;
  }
}

.ok       { background-color: $ok-color; }
.redirect { background-color: $redirect-color; }
.gone     { background-color: $gone-color; }
.error    { background-color: $error-color; }

