<div class="scrape_index">
  <h1>Scrape</h1>
  <ul class="types">
    <% @content_types_hash.keys.each do |type| %>
      <li>
        <%= link_to type, site_scrape_results_path(@site, type: type) %></td>
      </li>
    <% end %>
  </ul>
</div>
