<%
max_count = @total_data.max_weekly_count
chart_height = 100
bar_width = 20
left = 0;
%>

<section>
  <div class="chart stacked" style="height:<%= chart_height %>px">
    <% @total_data.each_week do |week, totals_for_week| %>
      <% categorized_totals = grouped_by_http_status_category(totals_for_week) %>
      <ul style="left:<%= left %>px">
        <% for_each_http_status_category do |http_status_category| %>
          <%= summation_line_for_label(http_status_category, categorized_totals, max_count, chart_height, week) %>
        <% end %>
      </ul>
      <% left += bar_width %>
    <% end %>
  </div>
</section>